<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src='../js/vue.js'></script>
</head>
<body>
    <div id="app">
        姓: <input type="text" v-model="firstname"  placeholder="请输入姓"/><br><br>
        名: <input type="text" v-model="lastname" placeholder="请输入名"/><br><br>
        全名: {{com()}}
    </div>
    <script>
        new Vue({
            el:'#app',
            data() { 
                return {
                    firstname:"张",
                    lastname: "三",
                }
            },
            methods: {
                com(){
                   return fullname = this.firstname.slice(0,3)+"-"+this.lastname.slice(0,3)     
                }
            },
        })
    </script>
</body>
</html>